name: Build and Attach to Release

on:
  release:
    types: [published]

permissions:
  actions: write
  contents: write
  id-token: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release --no-restore

      - name: Upload DLL to Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./bin/Release/**/HyacinePlugin-DHConsoleCommands.dll
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
